<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tiny Journal</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <% include ./_header.ejs %>
      <h1>The Tiniest Journal</h1>
      <a class="card new-entry" href="/entries/new">New Entry</a>
      <% entries.forEach(entry => {%>
        <a class="card" href="/entries/<%= entry['_id'] %>"><%= entry.title %> <small>by <%= entry.author %></small></a>
      <% }) %>
    </main>
  </body>
</html>
